/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
/\            /\/\           \/\            /\/          \/\/         /\   \/\/   /\/\/\/
/\   \/\/\/\/\/\/    \/\/\/\/\/\/\/\/   /\/\/\    /\/\    /\/   /\/\/\/\   \/\   /\/\/\/\
/\   \/\/\/\/\/\/   /\/\/\/\/\/\/\/\/   /\/\/\   \/\/\/   /\/   /\/\/\/\   \    /\/\/\/\/
/\   \/\      /\/            \/\/\/\/   /\/\/\   \/\/\/   /\/   /\/\/\/\       /\/\/\/\/\
/\   \/\\/\   \/\/\/\/\/\/   /\/\/\/\   \/\/\/    \/\/    \/\   \/\/\/\/   /\   /\/\/\/\/
/\            /\/           /\/\/\/\/   /\/\/\/          \/\/         /\   \/\   \/\/\/\/
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

CSS for Login page

/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\ CONTENTS /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

    1. REGISTER
    X. MOBILE RESPONSIVE




/* =================================================================== */
/* LOGIN  SECTION
====================================================================== */
.login-background{
    width: 100%;
    background: url('/assets/images/login-bg.jpg');
    background-size: cover;
    float: left;
    display: block;
}
.login-container{
    width: 60%;
    margin: 100px 20%;
    background: #ffffff;
    border-radius: 20px;
    float: left;
    display: table-cell;
    height: 500px;
    position: relative;
}
.or{
    position:absolute;
    width: 60px;
    height: 60px;
    background: #fff;
    border: 1px solid #5ca963;
    border-radius: 30px;
    left: 50%;
    top: 30%;
    margin: -30px 0 0 -30px;
    z-index: 1;
    text-align: center;
}
.or>h2{
    color: #5ca963;
    margin-top: 12.5px;
}
.login-left{
    display: inline-block;
    height: 100%;
}
.login-right{
    background: url('/assets/images/cloud.jpg');
    background-size: cover;
    border-radius: 0 20px 20px 0;
    display: inline-block;
    height: 100%;
    text-align: center;
}
.login-text{
    font-size: 18px;
}
.login-logo{
    margin: auto;
    width: 40%;
}
.login-form{
    margin-top: 40px;
    width: 100%;
}
.login-field{
    width: 100%;
    padding: 20px 80px;
    background: #eee;
    color: #6a6a6a;
    border: none;
}
.email-field{
    border-bottom: 1px solid #ddd;
    background: #eee url('/assets/images/email.png') no-repeat scroll 20px 20px;
}
.password-field{
    border-bottom: 1px solid #ddd;
    background: #eee url('/assets/images/lock.png') no-repeat scroll 20px 20px;
}
.cfmpassword-field{
    border-bottom: 1px solid #ddd;
    background: #eee url('/assets/images/lock2.png') no-repeat scroll 20px 20px;
}
.shopname-field{
    border-bottom: 1px solid #ddd;
    background: #eee url('/assets/images/shop.png') no-repeat scroll 20px 20px;
}

.login-text{
    padding-left: 30px;
}
input[type="submit"]{
    color: #008d36;
    font-size: 18px;
}
.login-button {
    float: right;
    position: relative;
    display: inline-block;
    border: 1px solid #5ca963;
    border-radius: 34px 0 0 34px;
    border-right: none;
    color: #5ca963;
    background: #fafafa;
    margin-top: 20px;
    padding: 20px 55px 20px 35px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.login-button[disabled]{
    color: #fff;
    background: #666
}
.login-button[disabled]:hover{
    color: #fff;
    background: #666
}

.login-button:hover{
    color: #fafafa;
    background: #5ca963;
}
.sociallogin{
    float: right;
    margin-top: 40px;
}
.other-login{
    text-align: right;
    margin-right: 15px;
}
.fb{
    color: #3B5998
}
.google{
    color: #DB4437;
}
.twitter{
    color: #1DA1F2;
 }
.fb-bg{
    background-color: #3B5998;
    border: 1px solid #3B5998;
}
.fb-bg:hover{
    background-color: #fff;
    border: 1px solid #3B5998;
    color: #3B5998;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.google-bg{
    background-color: #DB4437;
    border: 1px solid #DB4437;
}
.google-bg:hover{
    background-color: #fff;
    border: 1px solid #DB4437;
    color: #DB4437;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.twitter-bg{
    background-color: #1DA1F2;
    border: 1px solid #1DA1F2;
}
.twitter-bg:hover{
    background-color: #fff;
    color: #1DA1F2;
    border: 1px solid #1DA1F2;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.icon-login{
    margin-right: 10px;
    font-size: 24px;
}
.bottom-reg{
    position:absolute;
    bottom: 0;
    padding: 15px 20px;
    background: #333;
    width: 100%;
    border-radius: 0 0 0 20px;
    text-align: center
}
.bottom-reg>span>a{
    color: #fafafa;
}
.newacc{
}
input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 60px;
    height: 30px;
    color: #000;
    background: grey;
    border-radius: 20px;
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    top: -3px;
    margin-right: 20px;
}
.check-text{
    line-height: 30px;
}
label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    background: #fff;
    border-radius: 44px;
    transition: 0.3s;
}

input:checked + label {
    background: #bada55;
}

input:checked + label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

label:active:after {
    width: 40px;
}
.login-right>h1{
    color: #666;
    font-size: 36px;
}
.social-box{
    text-align: center;
    padding: 20px;
    width: 70%;
    margin-left: 15%;
    margin-top: 30px;
    color: #fff
}
/* =================================================================== */
/* MOBILE RESPONSIVE SECTION
====================================================================== */
@media (max-width:320px)  {
    /* smartphones, iPhone, portrait 480x320 phones */ }



@media (max-width:481px)  {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */


}
@media (max-width:765px)  {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .mobileonly{
        display: block
    }
    .mobilehidden{
        display: none
    }
    .hamburg{
        display: inline-block;
        padding-right: 20px;
        vfont-size:30px;
        cursor:pointer
    }
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .login-container{
        width: 90%;
        margin-left: 5%;
    }
    .login-left{
        display: none;
    }
    .login-right{
        border-radius: 20px;
    }

}
@media (max-width:961px)  {
    /* tablet, landscape iPad, lo-res laptops ands desktops */


}
@media (max-width:1025px) {
    /* big landscape tablets, laptops, and desktops */


}
@media (max-width:1281px) {
    /* hi-res laptops and desktops */


}
