<!-- Start Main Content Area -->

<div class="login-background">
    <div class="login-container">
        <div class="col-xs-6 nopadding login-left">
            <div class="login-form">
                <p class="login-text">Create a new account!</p>
                <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
                    <input type="email" name="email" class="login-field email-field" [(ngModel)]="model.email" #email="ngModel" placeholder="Enter Your Email" required/>
                    <input type="password" name="password" class="login-field password-field" [(ngModel)]="model.password" #password="ngModel" placeholder="Enter Your Password" required/>
                    <input type="text" name="first_name" class="login-field cfmpassword-field" [(ngModel)]="model.first_name" #first_name="ngModel" placeholder="Enter Your First Name e.g. John" required/>
                    <input type="text" name="last_name" class="login-field cfmpassword-field" [(ngModel)]="model.last_name" #last_name="ngModel" placeholder="Enter Your Last Name e.g. Smith" required/>
                    <input type="text" name="shop" class="login-field shopname-field" placeholder="Enter Your Shop Name" [(ngModel)]="model.shop" #shop="ngModel" id="shopname"/>
                    <span><input type="checkbox" name="merchant" id="merchant" class="checker" [(ngModel)]="model.merchant" #merchant="ngModel" /><label for="merchant">Toggle</label></span>
                    <span class="check-text">Signing up as a Merchant?</span>
                    <button [disabled]="loading" type="submit" class="login-button">submit</button>
                </form>
                <div class="bottom-reg">
                   <span class="newacc"> <a [routerLink]="['/login']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Already have an account?</a></span>
                </div>
            </div>
        </div>
        <div class="or">
            <h2>or</h2>
        </div>
        <div class="col-xs-6 nopadding login-right">
            <h1>Sign in with your social network!</h1>
            <a href="#">
                <div class="social-box fb-bg">
                Log in with facebook
                </div>
            </a>
            <a href="#"><div class="social-box google-bg">
                Log in with Google+
            </div>
            </a>
            <a href="#"><div class="social-box twitter-bg">
                Log in with twitter
            </div>
            </a>
        </div>


    </div>
</div>
<div class="green-divider"></div>
<!-- End Main Content Area -->

<!-- Complicated code below
 ================================================== -->



