<!-- Start Main menu Area -->
<div class="container nopadding">
  <div class="col-sm-12 nopadding">
    <h1>YOUR CART</h1>

    <!-- Shopping cart Area -->
    <div class="cart-area">
      <div *ngFor='let items of cart'>
        <h1>{{items.email}}</h1>
        <div *ngFor='let item of items.variants' class="row cart-row">
          <div class="col-xs-3 prod">
            <img [attr.src]="url+'/uploads/'+item.detail.thumbnail[0].imgName" width="100%" />
          </div>
          <div class="col-xs-4 prod">
            <h2 class="cart-prodname">{{item.productName}}</h2>
            <p>{{item.detail.option}}</p>
          </div>
          <div class="col-xs-3 prod qty">
            <h2 class="prodqt">Quantity:</h2>
            <a href="">
              <i class="fa fa-minus-circle button-qt" aria-hidden="true"></i>
            </a>
            <input class="qtyinput" value={{item.qty}}>
            <a href="">
              <i class="fa fa-plus-circle button-qt" aria-hidden="true"></i>
            </a>
          </div>
          <div class="col-xs-2 prod prpc">
            <h2 class="prodqt">S$ {{item.detail.uP}}</h2>
          </div>
          <div class="col-xs-1">
            <a href="">
              <i class="fa fa-trash del  " aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>


      <!-- Shipping Area -->
      <form>
        <div class="row">
          <div class="col-xs-2">
          </div>
          <div class="col-xs-1 ship">
            <input type="radio" name="shipment" value="Regular" class="label1">
          </div>
          <div class="col-xs-6 ship label11">
            <h2 class="shipmenttitle shiptext">Regular Shipping</h2>
            <p>Delivered within 2-3 working days</p>
          </div>
          <div class="col-xs-2 ship prpc">
            <h2 class="prodqt">S$ 5.00</h2>
          </div>
          <div class="col-xs-1 ship">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2">
          </div>
          <div class="col-xs-1 ship">
            <input type="radio" name="shipment" value="Regular" class="label2">
          </div>
          <div class="col-xs-6 ship label22">
            <h2 class="shipmenttitle shiptext">Express Shipping</h2>
            <p>Delivered within 1-2 working days</p>
          </div>
          <div class="col-xs-2 ship prpc">
            <h2 class="prodqt">S$ 7.00</h2>
          </div>
          <div class="col-xs-1 ship">
          </div>
        </div>

      </form>
    </div>


    <!--Checkout sidebar -->
    <div class="side-area">
      <table>
        <tbody>
          <tr>
            <td align="left" width="100%" style="vertical-align: top;">
              <div class="labelside" role="text" tabindex="0">Total Price</div>
            </td>
            <td align="left" style="vertical-align: top;"></td>
            <td align="right" style="vertical-align: top;">
              <div class="labelside" role="text" tabindex="0">$ {{totalPriceAndQty?.total}}</div>
            </td>
          </tr>
        </tbody>
      </table>
      <table>
        <tbody>
          <tr>
            <td align="left" width="100%" style="vertical-align: top;">
              <div class="labelside" role="text" tabindex="0">Shipping</div>
            </td>
            <td align="left" style="vertical-align: top;"></td>
            <td align="right" style="vertical-align: top;">
              <div class="labelside" role="text" tabindex="0">$5.00</div>
            </td>
          </tr>
        </tbody>
      </table>
      <table>
        <tbody>
          <tr>
            <td align="left" width="100%" style="vertical-align: top;">
              <div class="labelside" role="text" tabindex="0">Tax (GST)</div>
            </td>
            <td align="left" style="vertical-align: top;"></td>
            <td align="right" style="vertical-align: top;">
              <div class="labelside" role="text" tabindex="0">$0.00</div>
            </td>
          </tr>
        </tbody>
      </table>
      <table>
        <tbody>
          <tr>
            <td align="left" width="100%">
              <div class="labelside" role="text" tabindex="0">
                <h2>TOTAL</h2>
              </div>
            </td>
            <td align="left" style="vertical-align: top;"></td>
            <td align="right" style="vertical-align: top;">
              <div class="labelside" role="text" tabindex="0">
                <h2>${{totalPriceAndQty?.total}}</h2>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div align="center" style="vertical-align: top;">
        <div class="termscon">
          <span class="gwt-CheckBox">
            <input type="checkbox" value="on" id="terms" tabindex="0">
            <label for="terms">I agree with </label>
          </span>
          <a href="#">
            <span class="termscon">
              Terms and conditions
            </span>
          </a>
          <a [routerLink]="['/checkout']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
            <input type="submit" class="checkoutbutton" value="Checkout Now">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="green-divider"></div>

<!-- End Main menu Area -->
