<!-- Start of Footer Area -->
<div class="container footer-secvtion">
    <div class="col-sm-4 col-xs-12">
        <div class="col-xs-6 footer-menu">
            <h4>CUSTOMER SERVICE</h4>
            <a><p class="pfooter-menu">My Inquiries</p></a>
            <a><p class="pfooter-menu">FAQ</p></a>
            <a><p class="pfooter-menu">Help Topics</p></a>
            <a><p class="pfooter-menu">User Agreement</p></a>
            <a><p class="pfooter-menu">Privacy Policy</p></a>
            <a><p class="pfooter-menu">Contact us</p></a>
            <a><p class="pfooter-menu">Security & Resolution Center</p></a>
            <a><p class="pfooter-menu">Safe Program</p></a>
        </div>
        <div class="col-xs-6 footer-menu">
            <h4>G-STOCK</h4>
            <a><p class="pfooter-menu">About G-Stock</p></a>
            <a><p class="pfooter-menu">Terms & Condition</p></a>
            <a><p class="pfooter-menu">Priacy Statement</p></a>
            <a><p class="pfooter-menu">Press Media</p></a>
            <a><p class="pfooter-menu">All Brands</p></a>
            <a><p class="pfooter-menu">Site Map</p></a>
        </div>
    </div>
    <div class="col-sm-4 col-xs-6">
        <div class="footer-menu">
            <h4>EXCLUSIVE DEALS AND OFFERS!</h4>
            <p class="pfooter-menu">Subscribe and instantly get up to 10% off (capped at $5)!</p>
            <!-- Subscribe box below -->
            <form action="" method="post">
                <div class="form-group required">
                    <input name="txtemail" id="txtemail" value="" placeholder="Your Email" class="form-control footer-form-input" type="email">
                    <button type="submit" class="btn_sub" onclick="return subscribe();">CONTACT</button>
                </div>
            </form>
            <h4>FOLLOW US</h4>
            <a href="#"><i class="fa fa-weixin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-pinterest-square"></i></a>
            <a href="#"><i class="fa fa-twitter-square"></i></a>
        </div>
    </div>
    <div class="col-sm-4 col-xs-6">
        <div class="footer-menu">
            <h4>PAYMENT METHOD</h4>
            <img src="assets/images/payment.png" width="100%" />
            <h4>DOWNLOAD APP NOW FOR DAILY DEALS!</h4>
            <div class="col-xs-6">
                <a><img src="assets/images/ios.png" width="100%%" /></a>
            </div>
            <div class="col-xs-6 ">
                <a><img src="assets/images/android.png" width="100%" /></a>
            </div>
        </div>
    </div>
</div>

<!-- End of Footer Area -->

<!-- Start of PostFooter Area -->
<div class="post-footer">
    <p>Copyright 2017 @ Dinghe Trading Pte. Ltd.</p>
</div>
<!-- End of PostFooter Area -->