<!-- Start Main menu Area -->
<div class="container nopadding">
    <div class="col-sm-12 nopadding">
        <h1>1 STEP CHECKOUT</h1>

        <!-- Checkout  Area -->
        <div class="main-area">
            <a [routerLink]="['cart']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Back to cart</a>
            <!--map -->
            <div class="mapcontainer">
                <div class="pac-card" id="pac-card">
                    <div>
                        <div id="title">
                            Where should we deliver these items to?
                        </div>
                    </div>
                    <div id="pac-container">

                        <input id="pac-input" type="text"
                               placeholder="Enter a location">
                        <input class="unitno" type="text" placeholder="Unit no. (e.g. #01-01)">
                        <!--<a [routerLink]="['/checkout']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}"><input type="submit" class="checkoutbutton" value="Checkout Now"></a>-->

                    </div>
                </div>
                <div id="map"></div>
                <div id="infowindow-content">
                    <img src="" width="16" height="16" id="place-icon">
                    <span id="place-name"  class="title"></span><br>
                    <span id="place-address"></span>
                </div>
            </div>
            <!-- Personal Detail  Area -->
            <div class="personal">
            <div class="col-sm-6 two-column">
                <div class="login-form">
                    <p class="login-text">Instant Checkout</p>
                    <form>
                        <input type="email" name="email" class="login-field email-field" placeholder="Enter Your Email" required/>
                        <input type="password" name="email" class="login-field password-field" placeholder="Enter Your Password" required/>
                        <input type="submit" class="submit">
                        <div class="sociallogin">
                            <span class="login-text other-login">or login with: </span>
                            <a href="#"><span class="icon-login"><i class="fa fa-facebook fb" aria-hidden="true"></i></span></a>
                            <a href="#"><span class="icon-login"><i class="fa fa-google-plus google" aria-hidden="true"></i></span></a>
                            <a href="#"><span class="icon-login"><i class="fa fa-twitter twitter" aria-hidden="true"></i></span></a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="login-form">
                    <p class="login-text">Guest Checkout</p>
                    <form>
                        <input type="name" name="name" class="login-field name-field" placeholder="Enter Your Name" required/>
                        <input type="email" name="email" class="login-field email-field" placeholder="Enter Your Email" required/>
                        <input type="number" name="number" class="login-field phone-field" placeholder="Enter Your Phone Number" required/>

                    </form>
                </div>
            </div>
            <div class="or">
                <h2>or</h2>
            </div>
            </div>

        </div>
        <!--Checkout sidebar -->
        <div class="side-area">
            <div class="side-title">
                <h2>Promo Code</h2>
            </div>
            <div class="side-content mabt">
                <input type="text" class="input-promo" placeholder="Add promo code">
                <input type="submit" class="submit" value="Apply">
            </div>
            <div class="side-title">
                <h2>Purchase Summary</h2>
            </div>
            <div class="side-content">
                <table>
                    <tbody>
                    <tr>
                        <td align="left" width="100%" style="vertical-align: top;">
                            <div class="labelside" role="text" tabindex="0">Total Price</div>
                        </td>
                        <td align="left" style="vertical-align: top;"></td>
                        <td align="right" style="vertical-align: top;">
                            <div class="labelside" role="text" tabindex="0">$2,229.27</div></td></tr>
                    </tbody>
                </table>
                <table>
                    <tbody>
                    <tr>
                        <td align="left" width="100%" style="vertical-align: top;">
                            <div class="labelside" role="text" tabindex="0">Shipping</div>
                        </td>
                        <td align="left" style="vertical-align: top;"></td>
                        <td align="right" style="vertical-align: top;">
                            <div class="labelside" role="text" tabindex="0">$5.00</div></td></tr>
                    </tbody>
                </table>
                <table>
                    <tbody>
                    <tr>
                        <td align="left" width="100%" style="vertical-align: top;">
                            <div class="labelside" role="text" tabindex="0">Tax (GST)</div>
                        </td>
                        <td align="left" style="vertical-align: top;"></td>
                        <td align="right" style="vertical-align: top;">
                            <div class="labelside" role="text" tabindex="0">$0.00</div></td></tr>
                    </tbody>
                </table>
                <table>
                    <tbody>
                    <tr>
                        <td align="left" width="100%">
                            <div class="labelside" role="text" tabindex="0"><h2>TOTAL</h2></div>
                        </td>
                        <td align="left" style="vertical-align: top;"></td>
                        <td align="right" style="vertical-align: top;">
                            <div class="labelside" role="text" tabindex="0"><h2>$2,234.27</h2></div></td></tr>
                    </tbody>
                </table>
            </div>
            <div class="side-title">
                <h2>Payment Method</h2>

            </div>
            <div class="side-content mabt">
                <input type="radio" name="payment" class="payment-method"><label>Paypal</label><img src="assets/images/paypal.jpg" width="100px;"><br />
                <input type="radio" name="payment" class="payment-method"><label>Nets</label><br />
                <input type="radio" name="payment" class="payment-method"><label>Alipay</label>
            </div>
            <div class="pay-title">
                <p>Pay Now</p>
            </div>
        </div>
    </div>
</div>
<!-- End Main menu Area -->
<div class="green-divider"></div>


