/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
/\            /\/\           \/\            /\/          \/\/         /\   \/\/   /\/\/\/
/\   \/\/\/\/\/\/    \/\/\/\/\/\/\/\/   /\/\/\    /\/\    /\/   /\/\/\/\   \/\   /\/\/\/\
/\   \/\/\/\/\/\/   /\/\/\/\/\/\/\/\/   /\/\/\   \/\/\/   /\/   /\/\/\/\   \    /\/\/\/\/
/\   \/\      /\/            \/\/\/\/   /\/\/\   \/\/\/   /\/   /\/\/\/\       /\/\/\/\/\
/\   \/\\/\   \/\/\/\/\/\/   /\/\/\/\   \/\/\/    \/\/    \/\   \/\/\/\/   /\   /\/\/\/\/
/\            /\/           /\/\/\/\/   /\/\/\/          \/\/         /\   \/\   \/\/\/\/
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

CSS for Login page

/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\ CONTENTS /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

    1. FORGET PASSWORD
    X. MOBILE RESPONSIVE




/* =================================================================== */


/* LOGIN  SECTION
====================================================================== */

.login-background {
  width: 100%;
  background: url('/assets/images/login-bg.jpg');
  background-size: cover;
  float: left;
  display: block;
}

.login-container {
  width: 60%;
  margin: 100px 20%;
  background: #008d36;
  border-radius: 20px;
  float: left;
  display: table-cell;
  height: 500px;
}

.login-left {
  padding: 200px 0 200px;
  text-align: center;
  /*background: url('/assets/images/loginleft-bg.png');
    background-size: cover;*/
}

.login-right {
  background: #ffffff;
  border-radius: 0 20px 20px 0;
  display: inline-block;
  height: 100%;
}

.login-text {
  font-size: 18px;
}

.login-logo {
  margin: auto;
  width: 40%;
}

.login-form {
  margin-top: 100px;
  width: 100%;
}

.login-field {
  width: 100%;
  padding: 20px 80px;
  background: #eee;
  color: #6a6a6a;
  border: none;
}

.email-field {
  border-bottom: 1px solid #ddd;
  background: #eee url('/assets/images/email.png') no-repeat scroll 20px 20px;
}

.password-field {
  border-bottom: 1px solid #ddd;
  background: #eee url('/assets/images/lock.png') no-repeat scroll 20px 20px;
}

.login-text {
  padding-left: 30px;
}

input[type="submit"] {
  color: #008d36;
  font-size: 18px;
}

.login-button {
  position: relative;
  display: inline-block;
  border: 1px solid #5ca963;
  border-radius: 0 34px 34px 0;
  border-left: none;
  color: #5ca963;
  background: #fafafa;
  margin-top: 20px;
  padding: 20px 55px 20px 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.login-button:hover {
  color: #fafafa;
  background: #5ca963;
}

.sociallogin {
  float: right;
  margin-top: 40px;
}

.other-login {
  text-align: right;
  margin-right: 15px;
}

.fb {
  color: #3B5998
}

.google {
  color: #DB4437;
}

.twitter {
  color: #1DA1F2;
}

.icon-login {
  margin-right: 10px;
  font-size: 24px;
}

.bottom-login {
  position: absolute;
  bottom: 0;
  padding: 15px 20px;
  background: #333;
  width: 100%;
  border-radius: 0 0 20px 0;
  text-align: center
}

.bottom-login>span>a {
  color: #fafafa;
}


/* =================================================================== */


/* MOBILE RESPONSIVE SECTION
====================================================================== */
