<!-- Start Product page header Area -->
<nav class="navbar">
    <div class="container">
        <div class="col-lg-3 col-md-12 nopadding">
            <div class="navbar-header w100">
                <div class="navbar-all inner-head-dropdown dropdown-container-head-inner">
                    <div class="dropdown-search dropdown-category w100">
                        <span class="bold-dropdown-content">All Categories</span>
                        <div class="dropdown-content">
                            <div class="dropdown-option"><span class="category-icon">w</span><a [routerLink]="['productlisting']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Women's Fashion</a></div>
                            <div class="dropdown-option"><span class="category-icon">m</span><a href="#">Men's Fashion</a></div>
                            <div class="dropdown-option"><span class="category-icon">b</span><a href="#">Baby & Kids</a></div>
                            <div class="dropdown-option"><span class="category-icon">s</span><a href="#">Shoes, Bags & Accessories</a></div>
                            <div class="dropdown-option"><span class="category-icon">c</span><a href="#">Beauty & Health</a></div>
                            <div class="dropdown-option"><span class="category-icon">h</span><a href="#">Home & kitchen</a></div>
                            <div class="dropdown-option"><span class="category-icon">p</span><a href="#">Sports & Outdoor</a></div>
                            <div class="dropdown-option"><span class="category-icon">o</span><a href="#">Office & Stationery</a></div>
                            <div class="dropdown-option"><span class="category-icon">f</span><a href="#">Food & diet</a></div>
                            <div class="dropdown-option"><span class="category-icon">g</span><a href="#">Electronics/Motor</a></div>
                            <div class="dropdown-option"><span class="category-icon">w</span><a href="#">Mobiles & Tablets</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">BEST SELLERS</a></li>
                <li><a href="#">SUPER DEAL</a></li>
                <li><a href="#">ON SALE!</a></li>
                <li><a href="#">EVENT COUPON</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- End of Product page header Area -->

<!-- Start Merchant Area -->
<div class="container">
    <div class="merchant-page-header">
        <div class="col-md-5 col-sm-7 col-xs-12 mhead-left">
            <img src="/assets/images/mlogo.png" class="mlogo"/>
            <div class="mtitle">
                <h2 class="mname">OEM Store</h2>
                <div class="mtitlebox">
                    <table class="mtitletable">
                        <tr>
                            <td><i class="micon fa fa-star-o"></i></td>
                            <td>Rating:</td>
                            <td class="mdep"><span>4.7 Out Of 5</span></td>
                        </tr>
                        <tr>
                            <td><i class="micon fa fa-shopping-bag"></i></td>
                            <td>Products:</td>
                            <td class="mdep"><span>167</span></td>
                        </tr>
                        <tr>
                            <td><i class="micon fa fa-map-marker"></i></td>
                            <td>Joined:</td>
                            <td class="mdep"><span>10.08.2015</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-sm-5 col-xs-12 mhead-right">
            <img src="/assets/images/mbanner.jpg" class="mbanner"/>
        </div>
    </div>
    <div class="merchant-main-area">
        <div class="col-sm-9">
            <!-- HTML BLOCK FOR MERCHANT DECRIPTION-->
            <h2><b>Welcome to our shop and have a nice day!</b></h2>
            <p>We are dedicate to give you beauty and fashion. We will add new items every week, check back for update please and enjoy your shopping. We will be happy to answer your question, chat with us, we are always online for you.  We are dedicate to give you beauty and fashion. We will add new items every week, check back for update please and enjoy your shopping. We will be happy to answer your question, chat with us, we are always online for you.</p>
            <p>We will add new items every week, check back for update please and enjoy your shopping. We will be happy to answer your question, chat with us, we are always online for you.  </p>
            <!-- END HTML BLOCK FOR MERCHANT DECRIPTION-->

            <!-- NEW ARRIVAL -->
            <h2 class="green">NEW ARRIVAL</h2>
            <div class="product-slider-home">
                <div class="productside-home">
                    <img src="assets/images/l1p1.jpg" width="100%"/>
                    <div class="product-info">
                        <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                        <div class="pull-left price">$19.00</div>
                        <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
                    </div>
                    <div class="review">
                        <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                        <div class="pull-right star">
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star-o"></i></a>
                            <a href="#"><i class="fa fa-star-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="productside-home">
                    <img src="assets/images/l1p2.jpg" width="100%"/>
                    <div class="product-info">
                        <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                        <div class="pull-left price">$19.00</div>
                        <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
                    </div>
                    <div class="review">
                        <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                        <div class="pull-right star">
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="productside-home">
                    <img src="assets/images/l1p3.jpg" width="100%"/>
                    <div class="product-info">
                        <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                        <div class="pull-left price">$19.00</div>
                        <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
                    </div>
                    <div class="review">
                        <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                        <div class="pull-right star">
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                        </div>
                    </div>
                </div>
                <div class="productside-home">
                    <img src="assets/images/l1p4.jpg" width="100%"/>
                    <div class="product-info">
                        <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                        <div class="pull-left price">$19.00</div>
                        <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
                    </div>
                    <div class="review">
                        <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                        <div class="pull-right star">
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="productside-home">
                    <img src="assets/images/l1p5.jpg" width="100%"/>
                    <div class="product-info">
                        <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                        <div class="pull-left price">$19.00</div>
                        <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
                    </div>
                    <div class="review">
                        <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                        <div class="pull-right star">
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star-o"></i></a>
                            <a href="#"><i class="fa fa-star-o"></i></a>
                            <a href="#"><i class="fa fa-star-o"></i></a>
                            <a href="#"><i class="fa fa-star-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="productside-home">
                    <img src="assets/images/l1p1.jpg" width="100%"/>
                    <div class="product-info">
                        <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                        <div class="pull-left price">$19.00</div>
                        <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
                    </div>
                    <div class="review">
                        <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                        <div class="pull-right star">
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star-o"></i></a>
                            <a href="#"><i class="fa fa-star-o"></i></a>
                            <a href="#"><i class="fa fa-star-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="productside-home">
                    <img src="assets/images/l1p2.jpg" width="100%"/>
                    <div class="product-info">
                        <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                        <div class="pull-left price">$19.00</div>
                        <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
                    </div>
                    <div class="review">
                        <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                        <div class="pull-right star">
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star-o"></i></a>
                            <a href="#"><i class="fa fa-star-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!--MERCHANT PRODUCT LIST -->
            <div class="merchant-prd">
                <span class="left"><p class="green msubbh"><b>ALL PRODUCTS</b></p></span>
                <span class="left"><p class="green msubbhdiv"><b>|</b></p></span>
                <div class="dropdown">
                    <span class="bold-dropdown-content green">CATEGORIES</span>
                    <span><i class="fa fa-caret-down downloo green"></i></span>
                    <div class="dropdown-content inner-ddwn">
                        <div class="dropdown-option"><a [routerLink]="['productlisting']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Women's Fashion</a></div>
                        <div class="dropdown-option"><a href="#">Men's Fashion</a></div>
                        <div class="dropdown-option"><a href="#">Baby & Kids</a></div>
                        <div class="dropdown-option"><a href="#">Shoes, Bags & Accessories</a></div>
                        <div class="dropdown-option">><a href="#">Beauty & Health</a></div>
                    </div>
                </div>
                <div class="col-sm-12 no-padding">
                    <div class="col-md-3 productside-home">
                        <img src="assets/images/l1p2.jpg" width="100%"/>
                        <div class="product-info">
                            <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                            <div class="pull-left price">$19.00</div>
                            <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
                        </div>
                        <div class="review">
                            <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                            <div class="pull-right star">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star-o"></i></a>
                                <a href="#"><i class="fa fa-star-o"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 productside-home">
                        <img src="assets/images/l1p2.jpg" width="100%"/>
                        <div class="product-info">
                            <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                            <div class="pull-left price">$19.00</div>
                            <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
                        </div>
                        <div class="review">
                            <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                            <div class="pull-right star">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star-o"></i></a>
                                <a href="#"><i class="fa fa-star-o"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 sidebar">
            <div class="msubbanner">
                <img src="assets/images/mbanner2.jpg" width="100%">
            </div>
            <div class="new-arrival">
                <h2 class="green">NEW ARRIVAL</h2>
                <div class="col-md-12 productside-home mer-side">
                    <img src="assets/images/l1p2.jpg" width="100%"/>
                    <div class="product-info">
                        <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                        <div class="pull-left price">$19.00</div>
                        <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
                    </div>
                    <div class="review">
                        <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                        <div class="pull-right star">
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star-o"></i></a>
                            <a href="#"><i class="fa fa-star-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 productside-home">
                    <img src="assets/images/l1p2.jpg" width="100%"/>
                    <div class="product-info">
                        <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                        <div class="pull-left price">$19.00</div>
                        <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
                    </div>
                    <div class="review">
                        <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                        <div class="pull-right star">
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star-o"></i></a>
                            <a href="#"><i class="fa fa-star-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 productside-home">
                    <img src="assets/images/l1p2.jpg" width="100%"/>
                    <div class="product-info">
                        <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                        <div class="pull-left price">$19.00</div>
                        <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
                    </div>
                    <div class="review">
                        <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                        <div class="pull-right star">
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star-o"></i></a>
                            <a href="#"><i class="fa fa-star-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 productside-home">
                    <img src="assets/images/l1p2.jpg" width="100%"/>
                    <div class="product-info">
                        <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                        <div class="pull-left price">$19.00</div>
                        <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
                    </div>
                    <div class="review">
                        <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                        <div class="pull-right star">
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star-o"></i></a>
                            <a href="#"><i class="fa fa-star-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Merchant Area -->
<!-- Start of PreFooter Area -->
<div class="sub-footer">
    <div class="container footer-category">
        <div>
            <h2 class="footer-icon">w</h2>
            <p>WOMEN'S FASHION</p>
        </div>
        <div>
            <h2 class="footer-icon">w</h2>
            <p>MEN'S FASHION</p>
        </div>
        <div>
            <h2 class="footer-icon">b</h2>
            <p>BABY & KIDS</p>
        </div>
        <div>
            <h2 class="footer-icon">s</h2>
            <p>SHOES, BAGS & ACCESSORIES</p>
        </div>
        <div>
            <h2 class="footer-icon">c</h2>
            <p>BEAUTY & HEALTH</p>
        </div>
        <div>
            <h2 class="footer-icon">h</h2>
            <p>HOME & KITCHEN</p>
        </div>
        <div>
            <h2 class="footer-icon">p</h2>
            <p>SPORTS & OUTDOOR</p>
        </div>
        <div>
            <h2 class="footer-icon">o</h2>
            <p>OFFICE & STATIONERY</p>
        </div>
        <div>
            <h2 class="footer-icon">f</h2>
            <p>FOOD & DIET</p>
        </div>
        <div>
            <h2 class="footer-icon">g</h2>
            <p>ELECTRONIC/MOTOR</p>
        </div>
        <div>
            <h2 class="footer-icon">g</h2>
            <p>MOBILES & TABLET</p>
        </div>

    </div>
</div>
<!-- End of PreFooter Area -->
