/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
/\            /\/\           \/\            /\/          \/\/         /\   \/\/   /\/\/\/
/\   \/\/\/\/\/\/    \/\/\/\/\/\/\/\/   /\/\/\    /\/\    /\/   /\/\/\/\   \/\   /\/\/\/\
/\   \/\/\/\/\/\/   /\/\/\/\/\/\/\/\/   /\/\/\   \/\/\/   /\/   /\/\/\/\   \    /\/\/\/\/
/\   \/\      /\/            \/\/\/\/   /\/\/\   \/\/\/   /\/   /\/\/\/\       /\/\/\/\/\
/\   \/\\/\   \/\/\/\/\/\/   /\/\/\/\   \/\/\/    \/\/    \/\   \/\/\/\/   /\   /\/\/\/\/
/\            /\/           /\/\/\/\/   /\/\/\/          \/\/         /\   \/\   \/\/\/\/
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

CSS for Cart

/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\ CONTENTS /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

    1. CART NAVBAR
    X. MOBILE RESPONSIVE


/* =================================================================== */


/* CART SECTION
====================================================================== */

.inner-head-dropdown {
  font-weight: 300;
}

.dropdown-category {
  padding: 14px 25px 15px 35px;
}

.dropdown-container-head-inner {
  padding-top: 0;
  padding-bottom: 0
}

.bold-dropdown-content {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.hot {
  margin-top: 11px;
}

.main-area {
  margin: 0px 0 20px 0;
  width: 75%;
  padding: 0 40px;
  float: left
}

.cart-row {
  border-bottom: 1px solid #999;
}

.prod {
  padding: 30px;
}

.ship {
  padding: 10px 30px;
  border-bottom: 1px solid #999;
  height: 100px
}

.cart-prodname {
  color: #5ca963;
}

.qty {
  text-align: center
}

.prodqt {
  margin-top: 20px;
}

h2.prodqt {
  font-size: 14px;
}

.qtyinput {
  display: inline-block;
  width: 40px;
  text-align-all: center;
}

.button-qt {
  margin: 0 10px;
}

.del {
  font-size: 24px;
  margin-top: 70px
}

.prpc {
  text-align: right
}

.shipmenttitle {
  margin-top: 0
}

.ship-row {
  margin-left: 16.666666%;
}

.grey {
  color: #ccc !important;
}

.checkoutbutton {
  background: #5ca963;
  border: 1px solid #5ca963;
  color: #fff;
  padding: 11px 25px;
  margin: 20px 0;
}

input[type="submit"] {
  background: #5ca963;
  border: 1px solid #5ca963;
  color: #fff !important;
  margin: 20px 0;
  padding: 10px
}

.two-column {
  border-right: 1px #ddd solid
}

.personal {
  position: relative;
  height: 180px;
}

.or {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #fff;
  border: 1px solid #5ca963;
  border-radius: 30px;
  left: 50%;
  top: 50%;
  margin: -30px 0 0 -30px;
  z-index: 1;
  text-align: center;
}

.or>h2 {
  color: #5ca963;
  margin-top: 12.5px;
}


/* =================================================================== */


/* SIDEAREA SECTION
====================================================================== */

.side-area {
  width: 25%;
  float: left;
  background: #ededed;
}

.side-title {
  background: #ddd;
  text-align: center;
  padding: 2px 0 5px 0;
}

.pay-title {
  background: #5ca963;
  border: solid 1px #5ca963;
  text-align: center;
  padding: 20px 0 20px 0;
  color: #ffffff;
  font-size: 30px;
  transition: all 0.3s ease-in-out;
}

.pay-title:hover {
  background: #fff;
  border: solid 1px #5ca963;
  color: #5ca963;
  transition: all 0.3s ease-in-out;
}

.side-content {
  margin: 20px;
}

.labelside {
  margin-bottom: 20px
}

.termscon {
  font-size: 12px;
}

.payment-method {
  margin-right: 10px;
  margin-bottom: 15px;
}

.input-promo {
  padding: 10px 10px;
  width: 150px;
}

agm-map {
  height: 300px;
}


/* =================================================================== */


/* MAP SECTION
====================================================================== */

agm-map {
  height: 300px;
}

#map {
  height: 100%;
}


/* Optional: Makes the sample page fill the window. */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 0;
  width: 100%;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  background: linear-gradient(#fff, #fff, #fff, #fff, transparent);
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
  text-align: center;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  font-weight: 300;
  padding: 20px;
  text-overflow: ellipsis;
  width: 500px;
  margin: 30px 0 100px 0;
}

.unitno {
  font-weight: 300;
  padding: 20px;
  text-overflow: ellipsis;
}

.gmnoprint {
  display: none !important;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #333;
  background-color: #fafafa;
  font-size: 25px;
  font-weight: 500;
  padding: 25px 12px;
  text-align: center
}

.mapcontainer {
  height: 600px;
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
}


/* =================================================================== */


/* LOGIN  SECTION
====================================================================== */

.login-background {
  width: 100%;
  background: url('/assets/images/login-bg.jpg');
  background-size: cover;
  float: left;
  display: block;
}

.login-container {
  width: 60%;
  margin: 100px 20%;
  background: #008d36;
  border-radius: 20px;
  float: left;
  display: table-cell;
  height: 500px;
}

.login-left {
  padding: 200px 0 200px;
  text-align: center;
  /*background: url('/assets/images/loginleft-bg.png');
    background-size: cover;*/
}

.login-right {
  background: #ffffff;
  border-radius: 0 20px 20px 0;
  display: inline-block;
  height: 100%;
}

.login-text {
  font-size: 18px;
}

.login-logo {
  margin: auto;
  width: 40%;
}

.login-form {
  width: 100%;
}

.login-field {
  width: 100%;
  padding: 20px 80px;
  background: #eee;
  color: #6a6a6a;
  border: none;
}

.email-field {
  border-bottom: 1px solid #ddd;
  background: #eee url('/assets/images/email.png') no-repeat scroll 20px 20px;
}

.password-field {
  border-bottom: 1px solid #ddd;
  background: #eee url('/assets/images/lock.png') no-repeat scroll 20px 20px;
}

.name-field {
  border-bottom: 1px solid #ddd;
  background: #eee url('/assets/images/name.png') no-repeat scroll 20px 20px;
}

.phone-field {
  border-bottom: 1px solid #ddd;
  background: #eee url('/assets/images/phone.png') no-repeat scroll 20px 20px;
}

.login-text {
  padding-left: 30px;
}

input[type="submit"] {
  color: #008d36;
  font-size: 18px;
}

.login-button {
  position: relative;
  display: inline-block;
  border: 1px solid #5ca963;
  border-radius: 0 34px 34px 0;
  border-left: none;
  color: #5ca963;
  background: #fafafa;
  margin-top: 20px;
  padding: 20px 55px 20px 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.login-button:hover {
  color: #fafafa;
  background: #5ca963;
  transition: all 0.3s ease-in-out;
}

.sociallogin {
  float: right;
  margin-top: 23px;
}

.other-login {
  text-align: right;
  margin-right: 15px;
}

.fb {
  color: #3B5998
}

.google {
  color: #DB4437;
}

.twitter {
  color: #1DA1F2;
}

.icon-login {
  margin-right: 10px;
  font-size: 24px;
}

.bottom-login {
  position: absolute;
  bottom: 0;
  padding: 15px 20px;
  background: #333;
  width: 100%;
  border-radius: 0 0 20px 0;
  text-align: center
}

.bottom-login>span>a {
  color: #fafafa;
}

.newacc {
  margin-right: 50px;
}
