<!-- Start Main menu Area -->
<nav class="navbar">
    <div class="container">
        <div class="col-lg-3 col-md-12 nopadding">
            <div class="navbar-header w100">
                <div class="navbar-all inner-head-dropdown dropdown-container-head-inner">
                    <div class="dropdown-search dropdown-category w100">
                        <span class="bold-dropdown-content">All Categories</span>
                        <div class="dropdown-content">
                            <div class="dropdown-option"><span class="category-icon">w</span><a [routerLink]="['productlisting']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Women's Fashion</a></div>
                            <div class="dropdown-option"><span class="category-icon">m</span><a href="#">Men's Fashion</a></div>
                            <div class="dropdown-option"><span class="category-icon">b</span><a href="#">Baby & Kids</a></div>
                            <div class="dropdown-option"><span class="category-icon">s</span><a href="#">Shoes, Bags & Accessories</a></div>
                            <div class="dropdown-option"><span class="category-icon">c</span><a href="#">Beauty & Health</a></div>
                            <div class="dropdown-option"><span class="category-icon">h</span><a href="#">Home & kitchen</a></div>
                            <div class="dropdown-option"><span class="category-icon">p</span><a href="#">Sports & Outdoor</a></div>
                            <div class="dropdown-option"><span class="category-icon">o</span><a href="#">Office & Stationery</a></div>
                            <div class="dropdown-option"><span class="category-icon">f</span><a href="#">Food & diet</a></div>
                            <div class="dropdown-option"><span class="category-icon">g</span><a href="#">Electronics/Motor</a></div>
                            <div class="dropdown-option"><span class="category-icon">w</span><a href="#">Mobiles & Tablets</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">BEST SELLERS</a></li>
                <li><a href="#">SUPER DEAL</a></li>
                <li><a href="#">ON SALE!</a></li>
                <li><a href="#">EVENT COUPON</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- End of Main menu Area -->
<!-- Start Pre-Listing Area -->
<div class="container">
    <div class="col-md-3 col-xs-12 category-title">
        <p>Women's Fashion</p>
    </div>
    <div class="col-md-9 pull-right tabs-cont">
        <ul class="tabs pull-right">
        <li class="sort"><span>SORT BY:</span>
            <div class="dropdown-search">
                <span>Lower Price</span>
                <div class="dropdown-content">
                    <div><a href="#">Higher Price</a></div>
                    <div><a href="#">Most Popular</a></div>
                    <div><a href="#">Newest</a></div>
                </div>
            </div>
        </li>
        </ul>
        <ul class="tabs pull-right">
            <!-- Note: Please loop the <li>. The value of the data-tab equals L1T-[cat id] -->
            <li class="tab-link hot current" data-tab="L1T-1">HOT</li>
            <li class="tab-link hot" data-tab="LIT-2">LATEST</li>
            <li class="tab-link hot" data-tab="L1T-3">TOP SALES</li>
        </ul>

    </div>
</div>
<!-- End of Pre-Listing Area -->

<!-- Start of Content Area -->
<div class="container">
    <!-- Start of Side Bar Area -->
    <div class="col-md-3 col-xs-12 nopadding">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse1">Tops & Tees</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <ul class="list-group">
                        <li class="list-group-item">Party Tops</li>
                        <li class="list-group-item">Work Tops</li>
                        <li class="list-group-item">Summer Tees</li>
                        <li class="list-group-item">Mini Tops</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse2">Dresses</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <ul class="list-group">
                        <li class="list-group-item">Party Dresses</li>
                        <li class="list-group-item">Work Dresses</li>
                        <li class="list-group-item">Summer Dresses</li>
                        <li class="list-group-item">Bodycomn Dresses</li>
                        <li class="list-group-item">Evening Dresses</li>
                        <li class="list-group-item">Mini Dresses</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse3">Bottoms</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <ul class="list-group">
                        <li class="list-group-item">Party Dresses</li>
                        <li class="list-group-item">Work Dresses</li>
                        <li class="list-group-item">Summer Dresses</li>
                        <li class="list-group-item">Bodycomn Dresses</li>
                        <li class="list-group-item">Evening Dresses</li>
                        <li class="list-group-item">Mini Dresses</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse4">Skirts</a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <ul class="list-group">
                        <li class="list-group-item">Party Dresses</li>
                        <li class="list-group-item">Work Dresses</li>
                        <li class="list-group-item">Summer Dresses</li>
                        <li class="list-group-item">Bodycomn Dresses</li>
                        <li class="list-group-item">Evening Dresses</li>
                        <li class="list-group-item">Mini Dresses</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse5">Coats & Jackets</a>
                    </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                    <ul class="list-group">
                        <li class="list-group-item">Party Dresses</li>
                        <li class="list-group-item">Work Dresses</li>
                        <li class="list-group-item">Summer Dresses</li>
                        <li class="list-group-item">Bodycomn Dresses</li>
                        <li class="list-group-item">Evening Dresses</li>
                        <li class="list-group-item">Mini Dresses</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="filter-title">
            <p>Search Filter</p>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#priceslidercontainer">Price (SGD)</a>
                    </h4>
                </div>
                <div id="priceslidercontainer" class="panel-collapse collapse">
                    <div class="price-slider-amount">
                        <div class="min">
                            <p>$ 5</p>
                        </div>
                        <div class="max">
                            <p>$ 499</p>
                        </div>
                    </div>
                    <input id="ex2" type="text" class="span2" value="" data-slider-min="5" data-slider-max="499" data-slider-step="5" data-slider-value="[5,499]"/>
                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#brand">Brands</a>
                    </h4>
                </div>
                <div id="brand" class="panel-collapse collapse">
                    <ul class="list-group dropbox-area">
                        <li class="list-group-item"><label><input type="checkbox" value="" class="filter-checkbox">Abercrombie & Fitch</label></li>
                        <li class="list-group-item"><label><input type="checkbox" value="" class="filter-checkbox">Adidas</label></li>
                        <li class="list-group-item"><label><input type="checkbox" value="" class="filter-checkbox">AIN</label></li>
                        <li class="list-group-item"><label><input type="checkbox" value="" class="filter-checkbox">Alcott</label></li>
                        <li class="list-group-item"><label><input type="checkbox" value="" class="filter-checkbox">Ambross</label></li>
                        <li class="list-group-item"><label><input type="checkbox" value="" class="filter-checkbox">Banana Republic</label></li>
                        <li class="list-group-item"><label><input type="checkbox" value="" class="filter-checkbox">Cassidi</label></li>
                        <li class="list-group-item"><label><input type="checkbox" value="" class="filter-checkbox">Céline</label></li>
                        <li class="list-group-item"><label><input type="checkbox" value="" class="filter-checkbox">Le Château</label></li>
                        <li class="list-group-item"><label><input type="checkbox" value="" class="filter-checkbox">Desigual</label></li>
                        <li class="list-group-item"><label><input type="checkbox" value="" class="filter-checkbox">Diesel</label></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#color">Color</a>
                    </h4>
                </div>
                <div id="color" class="panel-collapse collapse">
                    <ul class="list-group dropbox-area">
                        <li class="list-group-item"><label><input type="checkbox" value="" class="filter-checkbox">White</label></li>
                        <li class="list-group-item"><label><input type="checkbox" value="" class="filter-checkbox">Blue</label></li>
                        <li class="list-group-item"><label><input type="checkbox" value="" class="filter-checkbox">Green</label></li>
                        <li class="list-group-item"><label><input type="checkbox" value="" class="filter-checkbox">Black</label></li>
                        <li class="list-group-item"><label><input type="checkbox" value="" class="filter-checkbox">Yellow</label></li>
                        <li class="list-group-item"><label><input type="checkbox" value="" class="filter-checkbox">Pink</label></li>
                        <li class="list-group-item"><label><input type="checkbox" value="" class="filter-checkbox">Cyan</label></li>
                        <li class="list-group-item"><label><input type="checkbox" value="" class="filter-checkbox">Gold</label></li>
                        <li class="list-group-item"><label><input type="checkbox" value="" class="filter-checkbox">Grey</label></li>
                        <li class="list-group-item"><label><input type="checkbox" value="" class="filter-checkbox">Cream</label></li>
                        <li class="list-group-item"><label><input type="checkbox" value="" class="filter-checkbox">Purple</label></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#size   ">Size</a>
                    </h4>
                </div>
                <div id="size" class="panel-collapse collapse">
                    <ul class="list-group dropbox-area">
                        <li class="list-group-item"><label><input type="checkbox" value="" class="filter-checkbox">XXXS</label></li>
                        <li class="list-group-item"><label><input type="checkbox" value="" class="filter-checkbox">XXS</label></li>
                        <li class="list-group-item"><label><input type="checkbox" value="" class="filter-checkbox">XS</label></li>
                        <li class="list-group-item"><label><input type="checkbox" value="" class="filter-checkbox">S</label></li>
                        <li class="list-group-item"><label><input type="checkbox" value="" class="filter-checkbox">M</label></li>
                        <li class="list-group-item"><label><input type="checkbox" value="" class="filter-checkbox">L</label></li>
                        <li class="list-group-item"><label><input type="checkbox" value="" class="filter-checkbox">XL</label></li>
                        <li class="list-group-item"><label><input type="checkbox" value="" class="filter-checkbox">XXL</label></li>
                        <li class="list-group-item"><label><input type="checkbox" value="" class="filter-checkbox">XXXL</label></li>
                        <li class="list-group-item"><label><input type="checkbox" value="" class="filter-checkbox">Freesize</label></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Side Bar Area -->

    <!-- Start of Side Bar Area -->
    <div class="col-md-9 col-xs-12 nopadding">
        <div class="col-md-3 productside-home">
            <img src="assets/images/l1p2.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 productside-home">
            <img src="assets/images/l1p2.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 productside-home">
            <img src="assets/images/l1p2.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 productside-home">
            <img src="assets/images/l1p2.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 productside-home">
            <img src="assets/images/l1p2.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 productside-home">
            <img src="assets/images/l1p2.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 productside-home">
            <img src="assets/images/l1p2.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 productside-home">
            <img src="assets/images/l1p2.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 productside-home">
            <img src="assets/images/l1p2.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 productside-home">
            <img src="assets/images/l1p2.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 productside-home">
            <img src="assets/images/l1p2.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Content Area -->


<!-- Start of PreFooter Area -->
<div class="sub-footer">
    <div class="container footer-category">
        <div>
            <h2 class="footer-icon">w</h2>
            <p>WOMEN'S FASHION</p>
        </div>
        <div>
            <h2 class="footer-icon">w</h2>
            <p>MEN'S FASHION</p>
        </div>
        <div>
            <h2 class="footer-icon">b</h2>
            <p>BABY & KIDS</p>
        </div>
        <div>
            <h2 class="footer-icon">s</h2>
            <p>SHOES, BAGS & ACCESSORIES</p>
        </div>
        <div>
            <h2 class="footer-icon">c</h2>
            <p>BEAUTY & HEALTH</p>
        </div>
        <div>
            <h2 class="footer-icon">h</h2>
            <p>HOME & KITCHEN</p>
        </div>
        <div>
            <h2 class="footer-icon">p</h2>
            <p>SPORTS & OUTDOOR</p>
        </div>
        <div>
            <h2 class="footer-icon">o</h2>
            <p>OFFICE & STATIONERY</p>
        </div>
        <div>
            <h2 class="footer-icon">f</h2>
            <p>FOOD & DIET</p>
        </div>
        <div>
            <h2 class="footer-icon">g</h2>
            <p>ELECTRONIC/MOTOR</p>
        </div>
        <div>
            <h2 class="footer-icon">g</h2>
            <p>MOBILES & TABLET</p>
        </div>

    </div>
</div>
<!-- End of PreFooter Area -->

<!-- Complicated code below
 ================================================== -->
