<!-- Start Product page header Area -->
<nav class="navbar">
    <div class="container">
        <div class="col-lg-3 col-md-12 nopadding">
            <div class="navbar-header w100">
                <div class="navbar-all inner-head-dropdown dropdown-container-head-inner">
                    <div class="dropdown-search dropdown-category w100">
                        <span class="bold-dropdown-content">All Categories</span>
                        <div class="dropdown-content">
                            <div class="dropdown-option"><span class="category-icon">w</span><a [routerLink]="['productlisting']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Women's Fashion</a></div>
                            <div class="dropdown-option"><span class="category-icon">m</span><a href="#">Men's Fashion</a></div>
                            <div class="dropdown-option"><span class="category-icon">b</span><a href="#">Baby & Kids</a></div>
                            <div class="dropdown-option"><span class="category-icon">s</span><a href="#">Shoes, Bags & Accessories</a></div>
                            <div class="dropdown-option"><span class="category-icon">c</span><a href="#">Beauty & Health</a></div>
                            <div class="dropdown-option"><span class="category-icon">h</span><a href="#">Home & kitchen</a></div>
                            <div class="dropdown-option"><span class="category-icon">p</span><a href="#">Sports & Outdoor</a></div>
                            <div class="dropdown-option"><span class="category-icon">o</span><a href="#">Office & Stationery</a></div>
                            <div class="dropdown-option"><span class="category-icon">f</span><a href="#">Food & diet</a></div>
                            <div class="dropdown-option"><span class="category-icon">g</span><a href="#">Electronics/Motor</a></div>
                            <div class="dropdown-option"><span class="category-icon">w</span><a href="#">Mobiles & Tablets</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">BEST SELLERS</a></li>
                <li><a href="#">SUPER DEAL</a></li>
                <li><a href="#">ON SALE!</a></li>
                <li><a href="#">EVENT COUPON</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- End of Product page header Area -->

<!-- Start of Product Area -->
<div class="container">
    <ul class="breadcrumb">
        <li><a href="#">Women's Fashion</a></li>
        <li><a href="#">Coats & Jackets</a></li>
        <li>Super CoatWoman</li>
    </ul>
</div>
<div class="container">
    <div class="col-sm-6">
        <div class="block-text main-slider">
            <div class="carousel-image product-image">
                <img src="assets/images/print1.jpg">
                <img src="assets/images/print2.jpg">
                <img src="assets/images/print3.jpg">
                <img src="assets/images/print4.jpg">
                <img src="assets/images/print1.jpg">
                <img src="assets/images/print2.jpg">
                <img src="assets/images/print3.jpg">
                <img src="assets/images/print4.jpg">
            </div>
        </div>
        <div class="block-media vert-slider">
            <div class="carousel-images product-slider">
                <img src="assets/images/print1.jpg">
                <img src="assets/images/print2.jpg">
                <img src="assets/images/print3.jpg">
                <img src="assets/images/print4.jpg">
                <img src="assets/images/print1.jpg">
                <img src="assets/images/print2.jpg">
                <img src="assets/images/print3.jpg">
                <img src="assets/images/print4.jpg">
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <p class="product-title"> Korean-style SPORT COATWOMEN</p>
        <div class="review star">
            <a href="#"><i class="fa fa-star"></i></a>
            <a href="#"><i class="fa fa-star"></i></a>
            <a href="#"><i class="fa fa-star"></i></a>
            <a href="#"><i class="fa fa-star-o"></i></a>
            <a href="#"><i class="fa fa-star-o"></i></a>
        </div>
        <div class="wishlist">
            <span><i class="fa fa-heart fav-icon"></i></span><span class="wishlist-span">Add to Wishlist</span>
        </div>
    </div>

</div>
<!-- End of Product Area -->
