/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
/\            /\/\           \/\            /\/          \/\/         /\   \/\/   /\/\/\/
/\   \/\/\/\/\/\/    \/\/\/\/\/\/\/\/   /\/\/\    /\/\    /\/   /\/\/\/\   \/\   /\/\/\/\
/\   \/\/\/\/\/\/   /\/\/\/\/\/\/\/\/   /\/\/\   \/\/\/   /\/   /\/\/\/\   \    /\/\/\/\/
/\   \/\      /\/            \/\/\/\/   /\/\/\   \/\/\/   /\/   /\/\/\/\       /\/\/\/\/\
/\   \/\\/\   \/\/\/\/\/\/   /\/\/\/\   \/\/\/    \/\/    \/\   \/\/\/\/   /\   /\/\/\/\/
/\            /\/           /\/\/\/\/   /\/\/\/          \/\/         /\   \/\   \/\/\/\/
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

CSS for Product Listing

/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\ CONTENTS /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

    1. PROD NAVBAR
    2. PRE LISTING CONTENT
    3. SIDEBAR CONTENT
    4. PRODUCT
    X. MOBILE RESPONSIVE




/* =================================================================== */


/* PROD NAVBAR SECTION
====================================================================== */

.inner-head-dropdown {
  font-weight: 300;
}

.dropdown-category {
  padding: 14px 25px 15px 35px;
}

.dropdown-container-head-inner {
  padding-top: 0;
  padding-bottom: 0
}

.bold-dropdown-content {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.hot {
  margin-top: 11px;
}


/* =================================================================== */


/* PRE LISTING SECTION
====================================================================== */

.category-title {
  background: #008d36;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 20px 0;
  margin-top: 12px;
}

.category-title>p {
  margin: 0
}

.tabs-cont {
  margin: 0;
  margin-top: 10px;
}

ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.tabs li {
  background: none;
  color: #222;
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 12px;
}

ul.tabs li.current {
  background: #018d36;
  color: #fff;
}

.tab-content {
  display: none;
  background: #ededed;
  padding: 15px;
}

.tab-content.current {
  display: inherit;
}


/* =================================================================== */


/* BREADCRUMB  SECTION
====================================================================== */

ul.breadcrumb {
  margin-top: 25px;
  padding: 10px 16px;
  list-style: none;
  background-color: #fff;
  font-size: 17px;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: #008d36;
  content: "\003e";
}

ul.breadcrumb li a {
  color: #000;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #666;
  text-decoration: underline;
}


/* =================================================================== */


/* PRODUCT  SECTION
====================================================================== */

.vert-slider {
  width: 15%;
  position: absolute;
  top: 0
}

.main-slider {
  width: 80%;
  margin-left: 20%;
}

.slick-slide {
  border: #ebebeb solid 2px;
  margin-bottom: 10px;
}

.fa-angle-left {
  color: #fff;
  font-size: 24px;
}

.product-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
}

.review {
  float: left;
}

a.fav>.fa+.fa,
a.fav:hover>.fa {
  display: none;
}

a.fav:hover>.fa+.fa {
  display: inherit;
  color: #ff0000;
}

.star>a>i {
  color: #fbc02d;
}

.wishlist {
  float: right;
}

.action-right {
  float: right;
  margin-top: 5px;
}

.fav-icon {
  font-size: 28px;
}

.wishlist-span {
  margin: 0 10px;
}

.write-rev {
  margin-left: 20px;
  float: left
}

.merchant-area {
  float: left;
  margin-top: 10px;
}

.green {
  color: #008d36
}

.divider {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #ddd inset;
  margin: 10px 0 10px 0;
}

.top-info {
  display: block;
}

.no-padding {
  padding: 0
}

.promo-area {
  float: left;
  width: 80%
}

.size-chart {
  float: right;
  width: 20%;
}

.variant-box {
  float: left;
  border: solid 1px #008d36;
  margin-right: 3px;
}

.variant-box p {
  padding: 5px;
  margin: 0px;
}

.variant-box-selected {
  background-color: #008d36;
}

.variant-box-selected p {
  color: white;
}

.price-box {
  float: right;
  padding: 15px;
  border: solid 1px #008d36;
  margin-bottom: 15px;
}

.price-box p {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 0;
}

.red {
  color: red;
}

.sub-price {
  text-align: right;
  margin-bottom: 0
}

.quantity {
  float: left;
  margin-right: 15px;
}

.color {
  float: left;
}

.uy-field {
  padding: 10px;
  border: solid 1px #008d36;
  margin-left: 10px
}

select {
  padding: 10px;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  color: #fff;
}

.addtocart {
  float: right
}

.product-detail-area>h3 {
  font-weight: 700;
}

.table-main-right {
  width: 80%;
  padding: 10px 0;
  vertical-align: top;
}

.table-main-left {
  width: 20%;
  font-weight: 700;
  padding: 10px 0;
  vertical-align: top;
}

.feature {
  width: 100%;
  border-top: #ddd 2px solid;
  background: #fafafa;
  font-weight: 300;
}

td.first {
  border: #ddd 1px solid;
  padding: 3px 20px;
}

td.second {
  border: #ddd 1px solid;
  padding: 3px 20px;
}

.first {
  width: 40%
}

.second {
  width: 60%
}

.related {
  margin: 40px 0;
}

.review-head {
  background: #eeeeee;
  padding: 15px 15px;
}

.review-head b {
  float: left;
}

.comment-filter {
  float: right;
  margin-right: 25px;
}

.comment-icon {
  color: #7f7f7f;
}

.comment-sort {
  float: right;
}

.review-content {
  padding: 15px 20px;
  float: left;
  border-bottom: 1px #666 solid;
}

.star {
  float: left;
  margin-right: 15px;
}

.review-title {
  font-weight: 700;
}

.review-person {
  color: #aaa;
  font-size: 15px;
  margin-right: 10px;
}

.review-person-area {
  width: 100%;
  margin-top: 5px;
  float: left
}

.verified-span {
  margin: 0 3px;
}

.review-text-area {
  display: block;
  width: 100%;
}

.review-text {
  margin-top: 15px;
}

.timing {
  position: absolute;
  right: 0;
  top: 10px
}

.timing {
  font-size: 13px;
  color: #666;
}

.sidebar {
  font-weight: 700;
}

.productside-home {
  margin-bottom: 30px;
}
.hidden{
  display: none;
}

