<!-- Start Main menu Area -->
<nav class="navbar">
    <div class="container">
        <div class="col-lg-3 col-md-12 nopadding">
            <div class="navbar-header w100">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-all">
                    <span class="hamburg mobileonly" onclick="openNav()">&#9776;</span> ALL CATEGORIES
                </div>
            </div>
        </div>
        <div class="col-md-9 collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">BEST SELLERS</a></li>
                <li><a href="#">SUPER DEAL</a></li>
                <li><a href="#">ON SALE!</a></li>
                <li><a href="#">EVENT COUPON</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- End of Main menu Area -->

<!-- Start of Banner Area -->
<div class="banner-area">
    <!--category navigation for mobile-->
    <img src="assets/images/mobileonly.jpg" width="100%" class="mobileonly">
    <div class="container">
        <div class="col-sm-3 side-category" id="cat">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Women's Fashion</a>
            <a href="#">Men's Fashion</a>
            <a href="#">Baby & Kids</a>
            <a href="#">Shoes, Bags & Accessories</a>
            <a href="#">Beauty & Health</a>
            <a href="#">Home & kitchen</a>
            <a href="#">Sports & Outdoor</a>
            <a href="#">Office & Stationery</a>
            <a href="#">Food & diet</a>
            <a href="#">Electronics/Motor</a>
            <a href="#">Mobiles & Tablets</a>
        </div>

    </div>
    <!-- end of category navigation for mobile -->
    <div class="container">
        <div class="col-sm-3 side-menu nopadding mobilehidden" style="min-height: 450px">
            <div class="side-menu-text" ><span class="category-icon">w</span><a href="#">Women's Fashion</a></div>
            <div class="side-menu-text" ><span class="category-icon">m</span><a href="#">Men's Fashion</a></div>
            <div class="side-menu-text" ><span class="category-icon">b</span><a href="#">Baby & Kids</a></div>
            <div class="side-menu-text" ><span class="category-icon">s</span><a href="#">Shoes, Bags & Accessories</a></div>
            <div class="side-menu-text" ><span class="category-icon">c</span><a href="#">Beauty & Health</a></div>
            <div class="side-menu-text" ><span class="category-icon">h</span><a href="#">Home & kitchen</a></div>
            <div class="side-menu-text" ><span class="category-icon">p</span><a href="#">Sports & Outdoor</a></div>
            <div class="side-menu-text" ><span class="category-icon">o</span><a href="#">Office & Stationery</a></div>
            <div class="side-menu-text" ><span class="category-icon">f</span><a href="#">Food & diet</a></div>
            <div class="side-menu-text" ><span class="category-icon">g</span><a href="#">Electronics/Motor</a></div>
            <div class="side-menu-text" ><span class="category-icon">w</span><a href="#">Mobiles & Tablets</a></div>
        </div>
        <div class="col-sm-9 nopadding mobilehidden bcontainer" style="min-height: 450px">
            <div><img src="assets/images/mobileonly.jpg" height="100%" class="mobilehidden absolut"></div>
        </div>
    </div>
</div>
<!-- End of Banner Area -->

<!-- Start of Content Area -->
<div class="container">
    <div class="col-md-3 col-xs-12 whitetitle">
        <h1>SALE</h1>
        <span class="black">UP TO </span><span>30% OFF</span>
    </div>
    <!-- Merchant Logo Slider -->
    <div class="col-md-9 merchant-carousel">
        <div><img src="assets/images/merchant1.jpg" width="100%"></div>
        <div><img src="assets/images/merchant2.jpg" width="100%"></div>
        <div><img src="assets/images/merchant3.jpg" width="100%"></div>
        <div><img src="assets/images/merchant4.jpg" width="100%"></div>
        <div><img src="assets/images/merchant5.jpg" width="100%"></div>
        <div><img src="assets/images/merchant1.jpg" width="100%"></div>
        <div><img src="assets/images/merchant2.jpg" width="100%"></div>
        <div><img src="assets/images/merchant3.jpg" width="100%"></div>
        <div><img src="assets/images/merchant4.jpg" width="100%"></div>
        <div><img src="assets/images/merchant5.jpg" width="100%"></div>
    </div>
</div>

<!-- Level 1 Area -->
<div class="container product-area">
    <div class="col-md-3 storey">
        <span class="storey-number">1F</span>
        <span>WOMEN's FASHION</span>
    </div>
    <div class="col-md-9 pull-right tabs-cont">
        <ul class="tabs pull-right">
            <!-- Note: Please loop the <li>. The value of the data-tab equals L1T-[cat id] -->
            <li class="tab-link current" data-tab="L1T-1">HOT</li>
            <li class="tab-link" data-tab="L1T-2">DRESSES</li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="col-md-3 col-xs-12 productside-home">
        <div class="whatshot l1">
            <h2>WHAT'S HOT</h2>
        </div>
        <div class="whatshot whatshot-inner">
            <h5>BIKINI</h5>
            <h5>OFF SHOULDER</h5>
            <h5>WEDDING</h5>
            <h5>BOMBER JACKET</h5>
            <h5>ULZZANG</h5>
            <h5>PLUS SIZE</h5>
            <h5>BRAS</h5>
            <h5>HARAJUKU</h5>
        </div>
        <img src="assets/images/heels.png" class="whatshotimage"/>
    </div>
    <!-- Note: for the tab function, please loop the div below and give the id, L1T-[cat id].
    this will correspond to the tabs above] -->
    <div  id="L1T-1" class="product-slider-home tab-content current">
        <div class="productside-home">
            <img src="assets/images/l1p1.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p2.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p3.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p4.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p5.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p1.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p2.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div id="L1T-2" class="product-slider-home tab-content">

        <div class="productside-home">
            <img src="assets/images/l1p5.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p1.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Level 2 Area -->
<div class="container product-area">
    <div class="col-md-3 storey">
        <span class="storey-number">2F</span>
        <span>MEN's FASHION</span>
    </div>
    <div class="col-md-9 pull-right tabs-cont">
        <ul class="tabs pull-right">
            <!-- Note: Please loop the <li>. The value of the data-tab equals L1T-[cat id] -->
            <li class="tab-link current" data-tab="L1T-8">HOT</li>
            <li class="tab-link" data-tab="LIT-9">DRESSES</li>
            <li class="tab-link" data-tab="L1T-10">TOPS & TEES</li>
            <li class="tab-link" data-tab="L1T-11">SKIRTS</li>
            <li class="tab-link" data-tab="L1T-12">BOTTOMS</li>
            <li class="tab-link" data-tab="L1T-13">INTIMATES</li>
            <li class="tab-link" data-tab="L1T-14">PLUS SIZE</li>
        </ul>
    </div>
</div>
<div class="container">
    <!-- Note: for the tab function, please loop the div below and give the id, L1T-[cat id].
    this will correspond to the tabs above] -->
    <div id="LIT-8" class="col-md-3 col-xs-12 productside-home">
        <div class="whatshot l2">
            <h2>WHAT'S HOT</h2>
        </div>
        <div class="whatshot whatshot-inner l2-1">
            <h5>BIKINI</h5>
            <h5>OFF SHOULDER</h5>
            <h5>WEDDING</h5>
            <h5>BOMBER JACKET</h5>
            <h5>ULZZANG</h5>
            <h5>PLUS SIZE</h5>
            <h5>BRAS</h5>
            <h5>HARAJUKU</h5>
        </div>
        <img src="assets/images/bag.png" class="whatshotimage"/>
    </div>
    <div class="product-slider-home">
        <div class="productside-home">
            <img src="assets/images/l1p1.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p2.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p3.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p4.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p5.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p1.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p2.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Level 3 Area -->
<div class="container product-area">
    <div class="col-md-3 storey">
        <span class="storey-number">3F</span>
        <span>BABY & KIDS</span>
    </div>
    <div class="col-md-9 pull-right tabs-cont">
        <ul class="tabs pull-right">
            <!-- Note: Please loop the <li>. The value of the data-tab equals L1T-[cat id] -->
            <li class="tab-link current" data-tab="L1T-15">HOT</li>
            <li class="tab-link" data-tab="LIT-16">DRESSES</li>
            <li class="tab-link" data-tab="L1T-17">TOPS & TEES</li>
            <li class="tab-link" data-tab="L1T-18">SKIRTS</li>
            <li class="tab-link" data-tab="L1T-19">BOTTOMS</li>
            <li class="tab-link" data-tab="L1T-20">INTIMATES</li>
            <li class="tab-link" data-tab="L1T-21">PLUS SIZE</li>
        </ul>
    </div>
</div>
<div class="container">
    <!-- Note: for the tab function, please loop the div below and give the id, L1T-[cat id].
    this will correspond to the tabs above] -->
    <div id="LIT-15" class="col-md-3 col-xs-12 productside-home">
        <div class="whatshot l3">
            <h2>WHAT'S HOT</h2>
        </div>
        <div class="whatshot whatshot-inner l3-1">
            <h5>BIKINI</h5>
            <h5>OFF SHOULDER</h5>
            <h5>WEDDING</h5>
            <h5>BOMBER JACKET</h5>
            <h5>ULZZANG</h5>
            <h5>PLUS SIZE</h5>
            <h5>BRAS</h5>
            <h5>HARAJUKU</h5>
        </div>
        <img src="assets/images/stroller.png" class="whatshotimage"/>
    </div>
    <div class="product-slider-home">
        <div class="productside-home">
            <img src="assets/images/l1p1.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p2.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p3.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p4.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p5.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p1.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p2.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Level 4 Area -->
<div class="container product-area">
    <div class="col-md-3 storey">
        <span class="storey-number">4F</span>
        <span>HOME & LIVING</span>
    </div>
    <div class="col-md-9 pull-right tabs-cont">
        <ul class="tabs pull-right">
            <!-- Note: Please loop the <li>. The value of the data-tab equals L1T-[cat id] -->
            <li class="tab-link current" data-tab="L1T-22">HOT</li>
            <li class="tab-link" data-tab="LIT-23">DRESSES</li>
            <li class="tab-link" data-tab="L1T-24">TOPS & TEES</li>
            <li class="tab-link" data-tab="L1T-25">SKIRTS</li>
            <li class="tab-link" data-tab="L1T-26">BOTTOMS</li>
            <li class="tab-link" data-tab="L1T-27">INTIMATES</li>
            <li class="tab-link" data-tab="L1T-28">PLUS SIZE</li>
        </ul>
    </div>
</div>
<div class="container">
    <!-- Note: for the tab function, please loop the div below and give the id, L1T-[cat id].
    this will correspond to the tabs above] -->
    <div id="LIT-22" class="col-md-3 col-xs-12 productside-home">
        <div class="whatshot l4">
            <h2>WHAT'S HOT</h2>
        </div>
        <div class="whatshot whatshot-inner l4-1">
            <h5>BIKINI</h5>
            <h5>OFF SHOULDER</h5>
            <h5>WEDDING</h5>
            <h5>BOMBER JACKET</h5>
            <h5>ULZZANG</h5>
            <h5>PLUS SIZE</h5>
            <h5>BRAS</h5>
            <h5>HARAJUKU</h5>
        </div>
        <img src="assets/images/sofa.png" class="whatshotimage"/>
    </div>
    <div class="product-slider-home">
        <div class="productside-home">
            <img src="assets/images/l1p1.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p2.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p3.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p4.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p5.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p1.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p2.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Content Area -->

<!-- Level 5 Area -->
<div class="container product-area">
    <div class="col-md-3 storey">
        <span class="storey-number">5F</span>
        <span>DIGITAL & MOBILE</span>
    </div>
    <div class="col-md-9 pull-right tabs-cont">
        <ul class="tabs pull-right">
            <!-- Note: Please loop the <li>. The value of the data-tab equals L1T-[cat id] -->
            <li class="tab-link current" data-tab="L1T-29">HOT</li>
            <li class="tab-link" data-tab="LIT-30">DRESSES</li>
            <li class="tab-link" data-tab="L1T-31">TOPS & TEES</li>
            <li class="tab-link" data-tab="L1T-32">SKIRTS</li>
            <li class="tab-link" data-tab="L1T-33">BOTTOMS</li>
            <li class="tab-link" data-tab="L1T-34">INTIMATES</li>
            <li class="tab-link" data-tab="L1T-35">PLUS SIZE</li>
        </ul>
    </div>
</div>
<div class="container">
    <!-- Note: for the tab function, please loop the div below and give the id, L1T-[cat id].
    this will correspond to the tabs above] -->
    <div id="LIT-29" class="col-md-3 col-xs-12 productside-home">
        <div class="whatshot l5">
            <h2>WHAT'S HOT</h2>
        </div>
        <div class="whatshot whatshot-inner l5-1">
            <h5>BIKINI</h5>
            <h5>OFF SHOULDER</h5>
            <h5>WEDDING</h5>
            <h5>BOMBER JACKET</h5>
            <h5>ULZZANG</h5>
            <h5>PLUS SIZE</h5>
            <h5>BRAS</h5>
            <h5>HARAJUKU</h5>
        </div>
        <img src="assets/images/headphone.png" class="whatshotimage"/>
    </div>
    <div class="product-slider-home">
        <div class="productside-home">
            <img src="assets/images/l1p1.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p2.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p3.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p4.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p5.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p1.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p2.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Content Area -->

<!-- Start of PreFooter Area -->
<div class="sub-footer">
    <div class="container footer-category">
        <div>
            <h2 class="footer-icon">w</h2>
            <p>WOMEN'S FASHION</p>
        </div>
        <div>
            <h2 class="footer-icon">w</h2>
            <p>MEN'S FASHION</p>
        </div>
        <div>
            <h2 class="footer-icon">b</h2>
            <p>BABY & KIDS</p>
        </div>
        <div>
            <h2 class="footer-icon">s</h2>
            <p>SHOES, BAGS & ACCESSORIES</p>
        </div>
        <div>
            <h2 class="footer-icon">c</h2>
            <p>BEAUTY & HEALTH</p>
        </div>
        <div>
            <h2 class="footer-icon">h</h2>
            <p>HOME & KITCHEN</p>
        </div>
        <div>
            <h2 class="footer-icon">p</h2>
            <p>SPORTS & OUTDOOR</p>
        </div>
        <div>
            <h2 class="footer-icon">o</h2>
            <p>OFFICE & STATIONERY</p>
        </div>
        <div>
            <h2 class="footer-icon">f</h2>
            <p>FOOD & DIET</p>
        </div>
        <div>
            <h2 class="footer-icon">g</h2>
            <p>ELECTRONIC/MOTOR</p>
        </div>
        <div>
            <h2 class="footer-icon">g</h2>
            <p>MOBILES & TABLET</p>
        </div>

    </div>
</div>
<!-- End of PreFooter Area -->

<!-- Complicated code below
 ================================================== -->
<script>
    function openNav() {
        document.getElementById("cat").style.width = "250px";
        document.getElementById("main").style.marginLeft = "0";
        document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }

    function closeNav() {
        document.getElementById("cat").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
        document.body.style.backgroundColor = "white";
    }
</script>


