<!doctype html>
<html lang="en">

<body id="main">
<!-- Start of Top Bar -->
<div class="top-header">
    <div class="container">
        <div class="pull-left">
            <a href="#" class="header-link">Download Apps</a>
        </div>
        <div class="pull-left">
            <p> Follow Us On</p>
            <a href="#"><i class="fa fa-facebook-square"></i></a>
            <a href="#"><i class="fa fa-weixin"></i></a>
        </div>
        <div class="pull-right">
            <a href="#">
                <i class="fa fa-commenting-o"></i>
                <p>Need Help?</p>
            </a>
        </div>
        <div class="pull-right">
            <a href="#">
                <i class="fa fa-shopping-cart"></i>
                <p>My Cart</p>
            </a>
        </div>
        <div class="pull-right">
            <i class="fa fa-user"></i>
            <a href="#">
                <p>Sign In</p>
            </a> |
            <a href="#">
                <p>Register</p>
            </a>
        </div>
        <div class="pull-right">
            <a href="#">
                <p>Hi! Kwek Kok Kwong</p>
            </a>
        </div>
    </div>
</div>
<!-- End of Top Bar -->

<!-- Start of Main Header -->
<div class="header">
    <div class="container">
        <div class="col-sm-2 pull-left logo-area">
            <a href="#"><img src="assets/images/logo.png" class="logo"></a>
        </div>
        <div class="col-sm-9 col-md-offset-1 search-area">
            <div class="col-xs-2 pull-right search-bar">
                <button class="w100"><i class="fa fa-search search"></i></button>
            </div>
            <div class="col-sm-3 pull-right search-bar mobilehidden">
                <div class="dropdown-search w100">
                    <span>Categories</span>
                    <div class="dropdown-content">
                        <div><span class="category-icon">w</span><a href="#">Women's Fashion</a></div>
                        <div><span class="category-icon">m</span><a href="#">Men's Fashion</a></div>
                        <div><span class="category-icon">b</span><a href="#">Baby & Kids</a></div>
                        <div><span class="category-icon">s</span><a href="#">Shoes, Bags & Accessories</a></div>
                        <div><span class="category-icon">c</span><a href="#">Beauty & Health</a></div>
                        <div><span class="category-icon">h</span><a href="#">Home & kitchen</a></div>
                        <div><span class="category-icon">p</span><a href="#">Sports & Outdoor</a></div>
                        <div><span class="category-icon">o</span><a href="#">Office & Stationery</a></div>
                        <div><span class="category-icon">f</span><a href="#">Food & diet</a></div>
                        <div><span class="category-icon">g</span><a href="#">Electronics/Motor</a></div>
                        <div><span class="category-icon">w</span><a href="#">Mobiles & Tablets</a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 col-xs-10 pull-right search-bar">
                <input class="w100" placeholder="Enter Your Search...">
            </div>
            <div class="popular-search">
                <a href="#">Waterproof Bag</a>
                <a href="#">The Ordinary</a>
                <a href="#">Sexy Lingerine</a>
                <a href="#">Waterproof Bag</a>
                <a href="#">The Ordinary</a>
                <a href="#">Sexy Lingerine</a>
                <a href="#">Waterproof Bag</a>
            </div>
        </div>
    </div>
</div>
<!-- End of Main Header -->

<!-- Start Main menu Area -->
<nav class="navbar">
    <div class="container">
        <div class="col-lg-3 col-md-12 nopadding">
            <div class="navbar-header w100">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-all">
                    <span class="hamburg mobileonly" onclick="openNav()">&#9776;</span> ALL CATEGORIES
                </div>
            </div>
        </div>
        <div class="col-md-9 collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">BEST SELLERS</a></li>
                <li><a href="#">SUPER DEAL</a></li>
                <li><a href="#">ON SALE!</a></li>
                <li><a href="#">EVENT COUPON</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- End of Main menu Area -->

<!-- Start of Banner Area -->
<div class="banner-area">
    <!--category navigation for mobile-->
    <img src="assets/images/mobileonly.jpg" width="100%" class="mobileonly">
    <div class="container">
        <div class="col-sm-3 side-category" id="cat">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Women's Fashion</a>
            <a href="#">Men's Fashion</a>
            <a href="#">Baby & Kids</a>
            <a href="#">Shoes, Bags & Accessories</a>
            <a href="#">Beauty & Health</a>
            <a href="#">Home & kitchen</a>
            <a href="#">Sports & Outdoor</a>
            <a href="#">Office & Stationery</a>
            <a href="#">Food & diet</a>
            <a href="#">Electronics/Motor</a>
            <a href="#">Mobiles & Tablets</a>
        </div>

    </div>
    <!-- end of category navigation for mobile -->
    <div class="container">
        <div class="col-sm-3 side-menu nopadding mobilehidden" style="min-height: 450px">
            <div class="side-menu-text" ><span class="category-icon">w</span><a href="#">Women's Fashion</a></div>
            <div class="side-menu-text" ><span class="category-icon">m</span><a href="#">Men's Fashion</a></div>
            <div class="side-menu-text" ><span class="category-icon">b</span><a href="#">Baby & Kids</a></div>
            <div class="side-menu-text" ><span class="category-icon">s</span><a href="#">Shoes, Bags & Accessories</a></div>
            <div class="side-menu-text" ><span class="category-icon">c</span><a href="#">Beauty & Health</a></div>
            <div class="side-menu-text" ><span class="category-icon">h</span><a href="#">Home & kitchen</a></div>
            <div class="side-menu-text" ><span class="category-icon">p</span><a href="#">Sports & Outdoor</a></div>
            <div class="side-menu-text" ><span class="category-icon">o</span><a href="#">Office & Stationery</a></div>
            <div class="side-menu-text" ><span class="category-icon">f</span><a href="#">Food & diet</a></div>
            <div class="side-menu-text" ><span class="category-icon">g</span><a href="#">Electronics/Motor</a></div>
            <div class="side-menu-text" ><span class="category-icon">w</span><a href="#">Mobiles & Tablets</a></div>
        </div>
        <div class="col-sm-9 nopadding mobilehidden bcontainer" style="min-height: 450px">
            <div><img src="assets/images/mobileonly.jpg" height="100%" class="mobilehidden absolut"></div>
        </div>
    </div>
</div>
<!-- End of Banner Area -->

<!-- Start of Content Area -->
<div class="container">
    <div class="col-md-3 col-xs-12 whitetitle">
        <h1>SALE</h1>
        <span class="black">UP TO </span><span>30% OFF</span>
    </div>
    <!-- Merchant Logo Slider -->
    <div class="col-md-9 merchant-carousel">
        <div><img src="assets/images/merchant1.jpg" width="100%"></div>
        <div><img src="assets/images/merchant2.jpg" width="100%"></div>
        <div><img src="assets/images/merchant3.jpg" width="100%"></div>
        <div><img src="assets/images/merchant4.jpg" width="100%"></div>
        <div><img src="assets/images/merchant5.jpg" width="100%"></div>
        <div><img src="assets/images/merchant1.jpg" width="100%"></div>
        <div><img src="assets/images/merchant2.jpg" width="100%"></div>
        <div><img src="assets/images/merchant3.jpg" width="100%"></div>
        <div><img src="assets/images/merchant4.jpg" width="100%"></div>
        <div><img src="assets/images/merchant5.jpg" width="100%"></div>
    </div>
</div>

<!-- Level 1 Area -->
<div class="container product-area">
    <div class="col-md-3 storey">
        <span class="storey-number">1F</span>
        <span>WOMEN's FASHION</span>
    </div>
    <div class="col-md-9 pull-right tabs-cont">
        <ul class="tabs pull-right">
            <!-- Note: Please loop the <li>. The value of the data-tab equals L1T-[cat id] -->
            <li class="tab-link current" data-tab="L1T-1">HOT</li>
            <li class="tab-link" data-tab="LIT-2">DRESSES</li>
            <li class="tab-link" data-tab="L1T-3">TOPS & TEES</li>
            <li class="tab-link" data-tab="L1T-4">SKIRTS</li>
            <li class="tab-link" data-tab="L1T-5">BOTTOMS</li>
            <li class="tab-link" data-tab="L1T-6">INTIMATES</li>
            <li class="tab-link" data-tab="L1T-7">PLUS SIZE</li>
        </ul>
    </div>
</div>
<div class="container">
    <!-- Note: for the tab function, please loop the div below and give the id, L1T-[cat id].
    this will correspond to the tabs above] -->
    <div id="L1T-1" class="col-md-3 col-xs-12 productside-home">
        <div class="whatshot l1">
            <h2>WHAT'S HOT</h2>
        </div>
        <div class="whatshot whatshot-inner">
            <h5>BIKINI</h5>
            <h5>OFF SHOULDER</h5>
            <h5>WEDDING</h5>
            <h5>BOMBER JACKET</h5>
            <h5>ULZZANG</h5>
            <h5>PLUS SIZE</h5>
            <h5>BRAS</h5>
            <h5>HARAJUKU</h5>
        </div>
        <img src="assets/images/heels.png" class="whatshotimage"/>
    </div>
    <div class="product-slider-home">
        <div class="productside-home">
            <img src="assets/images/l1p1.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p2.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p3.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p4.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p5.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p1.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p2.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Level 2 Area -->
<div class="container product-area">
    <div class="col-md-3 storey">
        <span class="storey-number">2F</span>
        <span>MEN's FASHION</span>
    </div>
    <div class="col-md-9 pull-right tabs-cont">
        <ul class="tabs pull-right">
            <!-- Note: Please loop the <li>. The value of the data-tab equals L1T-[cat id] -->
            <li class="tab-link current" data-tab="L1T-1">HOT</li>
            <li class="tab-link" data-tab="LIT-2">DRESSES</li>
            <li class="tab-link" data-tab="L1T-3">TOPS & TEES</li>
            <li class="tab-link" data-tab="L1T-4">SKIRTS</li>
            <li class="tab-link" data-tab="L1T-5">BOTTOMS</li>
            <li class="tab-link" data-tab="L1T-6">INTIMATES</li>
            <li class="tab-link" data-tab="L1T-7">PLUS SIZE</li>
        </ul>
    </div>
</div>
<div class="container">
    <!-- Note: for the tab function, please loop the div below and give the id, L1T-[cat id].
    this will correspond to the tabs above] -->
    <div id="LIT-2" class="col-md-3 col-xs-12 productside-home">
        <div class="whatshot l2">
            <h2>WHAT'S HOT</h2>
        </div>
        <div class="whatshot whatshot-inner l2-1">
            <h5>BIKINI</h5>
            <h5>OFF SHOULDER</h5>
            <h5>WEDDING</h5>
            <h5>BOMBER JACKET</h5>
            <h5>ULZZANG</h5>
            <h5>PLUS SIZE</h5>
            <h5>BRAS</h5>
            <h5>HARAJUKU</h5>
        </div>
        <img src="assets/images/bag.png" class="whatshotimage"/>
    </div>
    <div class="product-slider-home">
        <div class="productside-home">
            <img src="assets/images/l1p1.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p2.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p3.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p4.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p5.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p1.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p2.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Level 3 Area -->
<div class="container product-area">
    <div class="col-md-3 storey">
        <span class="storey-number">3F</span>
        <span>BABY & KIDS</span>
    </div>
    <div class="col-md-9 pull-right tabs-cont">
        <ul class="tabs pull-right">
            <!-- Note: Please loop the <li>. The value of the data-tab equals L1T-[cat id] -->
            <li class="tab-link current" data-tab="L1T-1">HOT</li>
            <li class="tab-link" data-tab="LIT-2">DRESSES</li>
            <li class="tab-link" data-tab="L1T-3">TOPS & TEES</li>
            <li class="tab-link" data-tab="L1T-4">SKIRTS</li>
            <li class="tab-link" data-tab="L1T-5">BOTTOMS</li>
            <li class="tab-link" data-tab="L1T-6">INTIMATES</li>
            <li class="tab-link" data-tab="L1T-7">PLUS SIZE</li>
        </ul>
    </div>
</div>
<div class="container">
    <!-- Note: for the tab function, please loop the div below and give the id, L1T-[cat id].
    this will correspond to the tabs above] -->
    <div id="LIT-3" class="col-md-3 col-xs-12 productside-home">
        <div class="whatshot l3">
            <h2>WHAT'S HOT</h2>
        </div>
        <div class="whatshot whatshot-inner l3-1">
            <h5>BIKINI</h5>
            <h5>OFF SHOULDER</h5>
            <h5>WEDDING</h5>
            <h5>BOMBER JACKET</h5>
            <h5>ULZZANG</h5>
            <h5>PLUS SIZE</h5>
            <h5>BRAS</h5>
            <h5>HARAJUKU</h5>
        </div>
        <img src="assets/images/stroller.png" class="whatshotimage"/>
    </div>
    <div class="product-slider-home">
        <div class="productside-home">
            <img src="assets/images/l1p1.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p2.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p3.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p4.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p5.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p1.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p2.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Level 4 Area -->
<div class="container product-area">
    <div class="col-md-3 storey">
        <span class="storey-number">4F</span>
        <span>HOME & LIVING</span>
    </div>
    <div class="col-md-9 pull-right tabs-cont">
        <ul class="tabs pull-right">
            <!-- Note: Please loop the <li>. The value of the data-tab equals L1T-[cat id] -->
            <li class="tab-link current" data-tab="L1T-1">HOT</li>
            <li class="tab-link" data-tab="LIT-2">DRESSES</li>
            <li class="tab-link" data-tab="L1T-3">TOPS & TEES</li>
            <li class="tab-link" data-tab="L1T-4">SKIRTS</li>
            <li class="tab-link" data-tab="L1T-5">BOTTOMS</li>
            <li class="tab-link" data-tab="L1T-6">INTIMATES</li>
            <li class="tab-link" data-tab="L1T-7">PLUS SIZE</li>
        </ul>
    </div>
</div>
<div class="container">
    <!-- Note: for the tab function, please loop the div below and give the id, L1T-[cat id].
    this will correspond to the tabs above] -->
    <div id="LIT-4" class="col-md-3 col-xs-12 productside-home">
        <div class="whatshot l4">
            <h2>WHAT'S HOT</h2>
        </div>
        <div class="whatshot whatshot-inner l4-1">
            <h5>BIKINI</h5>
            <h5>OFF SHOULDER</h5>
            <h5>WEDDING</h5>
            <h5>BOMBER JACKET</h5>
            <h5>ULZZANG</h5>
            <h5>PLUS SIZE</h5>
            <h5>BRAS</h5>
            <h5>HARAJUKU</h5>
        </div>
        <img src="assets/images/sofa.png" class="whatshotimage"/>
    </div>
    <div class="product-slider-home">
        <div class="productside-home">
            <img src="assets/images/l1p1.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p2.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p3.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p4.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p5.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p1.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p2.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Content Area -->

<!-- Level 5 Area -->
<div class="container product-area">
    <div class="col-md-3 storey">
        <span class="storey-number">5F</span>
        <span>DIGITAL & MOBILE</span>
    </div>
    <div class="col-md-9 pull-right tabs-cont">
        <ul class="tabs pull-right">
            <!-- Note: Please loop the <li>. The value of the data-tab equals L1T-[cat id] -->
            <li class="tab-link current" data-tab="L1T-1">HOT</li>
            <li class="tab-link" data-tab="LIT-2">DRESSES</li>
            <li class="tab-link" data-tab="L1T-3">TOPS & TEES</li>
            <li class="tab-link" data-tab="L1T-4">SKIRTS</li>
            <li class="tab-link" data-tab="L1T-5">BOTTOMS</li>
            <li class="tab-link" data-tab="L1T-6">INTIMATES</li>
            <li class="tab-link" data-tab="L1T-7">PLUS SIZE</li>
        </ul>
    </div>
</div>
<div class="container">
    <!-- Note: for the tab function, please loop the div below and give the id, L1T-[cat id].
    this will correspond to the tabs above] -->
    <div id="LIT-5" class="col-md-3 col-xs-12 productside-home">
        <div class="whatshot l5">
            <h2>WHAT'S HOT</h2>
        </div>
        <div class="whatshot whatshot-inner l5-1">
            <h5>BIKINI</h5>
            <h5>OFF SHOULDER</h5>
            <h5>WEDDING</h5>
            <h5>BOMBER JACKET</h5>
            <h5>ULZZANG</h5>
            <h5>PLUS SIZE</h5>
            <h5>BRAS</h5>
            <h5>HARAJUKU</h5>
        </div>
        <img src="assets/images/headphone.png" class="whatshotimage"/>
    </div>
    <div class="product-slider-home">
        <div class="productside-home">
            <img src="assets/images/l1p1.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p2.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p3.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p4.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p5.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p1.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
        <div class="productside-home">
            <img src="assets/images/l1p2.jpg" width="100%"/>
            <div class="product-info">
                <p>DAONSHOP Women`s pants collection / skinny jeans / destroyed jeans</p>
                <div class="pull-left price">$19.00</div>
                <div class="pull-right price"><a href="#"><i class="fa fa-truck"></i></a></div>
            </div>
            <div class="review">
                <div class="pull-left like"><a href="#" class="fav"><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>  179</a></div>
                <div class="pull-right star">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-star-o"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Content Area -->

<!-- Start of PreFooter Area -->
<div class="sub-footer">
    <div class="container footer-category">
        <div>
            <h2 class="footer-icon">w</h2>
            <p>WOMEN'S FASHION</p>
        </div>
        <div>
            <h2 class="footer-icon">w</h2>
            <p>MEN'S FASHION</p>
        </div>
        <div>
            <h2 class="footer-icon">b</h2>
            <p>BABY & KIDS</p>
        </div>
        <div>
            <h2 class="footer-icon">s</h2>
            <p>SHOES, BAGS & ACCESSORIES</p>
        </div>
        <div>
            <h2 class="footer-icon">c</h2>
            <p>BEAUTY & HEALTH</p>
        </div>
        <div>
            <h2 class="footer-icon">h</h2>
            <p>HOME & KITCHEN</p>
        </div>
        <div>
            <h2 class="footer-icon">p</h2>
            <p>SPORTS & OUTDOOR</p>
        </div>
        <div>
            <h2 class="footer-icon">o</h2>
            <p>OFFICE & STATIONERY</p>
        </div>
        <div>
            <h2 class="footer-icon">f</h2>
            <p>FOOD & DIET</p>
        </div>
        <div>
            <h2 class="footer-icon">g</h2>
            <p>ELECTRONIC/MOTOR</p>
        </div>
        <div>
            <h2 class="footer-icon">g</h2>
            <p>MOBILES & TABLET</p>
        </div>

    </div>
</div>
<!-- End of PreFooter Area -->

<!-- Start of Footer Area -->
<div class="container footer-secvtion">
    <div class="col-sm-4 col-xs-12">
        <div class="col-xs-6 footer-menu">
            <h4>CUSTOMER SERVICE</h4>
            <a><p class="pfooter-menu">My Inquiries</p></a>
            <a><p class="pfooter-menu">FAQ</p></a>
            <a><p class="pfooter-menu">Help Topics</p></a>
            <a><p class="pfooter-menu">User Agreement</p></a>
            <a><p class="pfooter-menu">Privacy Policy</p></a>
            <a><p class="pfooter-menu">Contact us</p></a>
            <a><p class="pfooter-menu">Security & Resolution Center</p></a>
            <a><p class="pfooter-menu">Safe Program</p></a>
        </div>
        <div class="col-xs-6 footer-menu">
            <h4>G-STOCK</h4>
            <a><p class="pfooter-menu">About G-Stock</p></a>
            <a><p class="pfooter-menu">Terms & Condition</p></a>
            <a><p class="pfooter-menu">Priacy Statement</p></a>
            <a><p class="pfooter-menu">Press Media</p></a>
            <a><p class="pfooter-menu">All Brands</p></a>
            <a><p class="pfooter-menu">Site Map</p></a>
        </div>
    </div>
    <div class="col-sm-4 col-xs-6">
        <div class="footer-menu">
            <h4>EXCLUSIVE DEALS AND OFFERS!</h4>
            <p class="pfooter-menu">Subscribe and instantly get up to 10% off (capped at $5)!</p>
            <!-- Subscribe box below -->
            <form action="" method="post">
                <div class="form-group required">
                    <input name="txtemail" id="txtemail" value="" placeholder="Your Email" class="form-control footer-form-input" type="email">
                    <button type="submit" class="btn_sub" onclick="return subscribe();">CONTACT</button>
                </div>
            </form>
            <h4>FOLLOW US</h4>
            <a href="#"><i class="fa fa-weixin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-pinterest-square"></i></a>
            <a href="#"><i class="fa fa-twitter-square"></i></a>
        </div>
    </div>
    <div class="col-sm-4 col-xs-6">
        <div class="footer-menu">
            <h4>PAYMENT METHOD</h4>
            <img src="assets/images/payment.png" width="100%" />
            <h4>DOWNLOAD APP NOW FOR DAILY DEALS!</h4>
            <div class="col-xs-6">
                <a><img src="assets/images/ios.png" width="100%%" /></a>
            </div>
            <div class="col-xs-6 ">
                <a><img src="assets/images/android.png" width="100%" /></a>
            </div>
        </div>
    </div>
</div>

<!-- End of Footer Area -->

<!-- Start of PostFooter Area -->
<div class="post-footer">
    <p>Copyright 2017 @ Dinghe Trading Pte. Ltd.</p>
</div>
<!-- End of PostFooter Area -->
<!-- Complicated code below
 ================================================== -->
</body>
</html>
